@page
@model IndexModel
@using HomeBot.Infrastructure.Db.Entities;
@{
    ViewData["Title"] = "Home page";
    var logs = (IEnumerable<Log>)ViewBag.Logs;
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
  <table>
      <tbody>
          
              @{
                  foreach (var log in logs)
                  {
                      <tr>
                          <td>{log.Info}</td>
                          <td>{log.Type}</td>
                           <td>{log.DateTime}</td>
                          <td></td>
                      </tr>
                  }
              }
             
        
      </tbody>
  </table>
</div>

